* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #edf2f8;
  height: 100vh;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 48px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #edf2f8;
  justify-content: center;
  align-content: center;
  gap: 25px;
  width: 100%;
}
.Part1 {
  display: flex;
  flex-direction: column;
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: #7541c9;
  border-radius: 12px;
  padding: 24px;
  width: 539px;
  height: 288.2px;
}
.head1 {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.image > img {
  height: 28px;
  width: 28px;
  border: 2px solid hsl(264, 82%, 70%);
  border-radius: 50%;
}
.p1 {
  color: #f7dfff;
}
.p2 {
  color: #b188f4;
}
.paragraph1 {
  color: #fae7fa;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}
.paragraph2 {
  color: hsl(0, 0%, 81%);
  padding: 10px;
}
/* Part2 */
.Part2 {
  display: flex;
  flex-direction: column;
  grid-column: 3/4;
  grid-row: 1/2;
  background-color: #595c6f;
  gap: 10px;
  border-radius: 12px;
  padding: 20px;
  width: 253.5px;
  height: 288.2px;
}
.head2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.p3 {
  color: white;
}
.p4 {
  color: white;
}
.paragraph3 {
  color: white;
  padding: 10px;
}
.paragraph4 {
  color: #bbc2ce;
}
/* Part3 */
.Part3 {
  display: flex;
  flex-direction: column;
  grid-column: 4/5;
  grid-row: 1/3;
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  width: 250px;
  height: 532.6px;
}
.head3 {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.p5 {
  color: #626878;
  padding: 10px;
}
.p6 {
  color: #5d6774;
  padding: 10px;
}
.paragraph5 {
  color: #56505c;
  padding: 10px;
}
.paragraph6 {
  color: #bbc2ce;
  padding: 10px;
}
