* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}
.Container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.image > img {
  height: 28px;
  width: 28px;
  border: 2px solid hsl(264, 82%, 70%);
  border-radius: 50%;
}
.part1 {
  grid-column: 1/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  background-color: #7541c9;
}
.head1 {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.text {
  font-size: 28px;
  gap: 10px;
  color: white;
}
.text1 {
  font-size: small;
  gap: 20px;
  color: hsl(0, 0%, 81%);
}
.text2 {
  color: white;
  font-size: 12px;
}
.text3 {
  color: hsl(0, 0%, 81%);
  font-size: 10px;
}
/* Part2 */
.Part2 {
  background-color: #49556b;
  grid-column: 3/4;
  grid-row: 1/2;
}
.head2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/* Part3 */
.Part3 {
  background-color: red;
  grid-column: 4/5;
  grid-row: 1/3;
}
.text4 {
  color: hsl(219, 29%, 14%);
}

/* Part4 */
.Part4 {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: blue;
}

/* Part5 */
.Part5 {
  grid-column: 2/4;
  grid-row: 2/4;
}
